.aside{
  display: inline-block;
  position: relative;

  &-menu {
    position: relative;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;

    &.active &__btn > span {
      background: transparent;

      &:before {
        transform: rotate(45deg);
        bottom: 0;
      }
      &:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }

  & a, & a:visited {
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    color: #707070;
    font-weight: 700;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  &__btn {
    border: none;
    padding: 0;
    position: relative;
    top: 13px;
    left: 11px;
    width: 124px;
    height: 40px;
    background: #a2d6f0;
    background: -moz-linear-gradient(top,  #a2d6f0 0%, #3765a9 100%);
    background: -webkit-linear-gradient(top,  #a2d6f0 0%,#3765a9 100%);
    background: linear-gradient(to bottom,  #a2d6f0 0%,#3765a9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d6f0', endColorstr='#3765a9',GradientType=0 );
    font-size: 16px;
    color: #fff;

      > span {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 3px;
        margin-right: 13px;
        background: #fff;
        position: relative;
        border-radius: 2px;

        &:before, &:after {
          display: block;
          width: 20px;
          height: 3px;
          position: absolute;
          background: #fff;
          left: 0;
          content: '';
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          border-radius: 2px;
        }
        &:before {
          bottom: 230%;
        }
        &:after {
          top: 230%;
        }
    }
  }
  &.active &__wrap {
    margin-left: 0;
  }
  &__wrap {
    position: absolute;
    z-index: 2;
    top: 66px;
    width: 230px;
    margin-left: -230px;
    background: #fff;
    color: #707070;
    text-align: left;
    cursor: default;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;

      a:hover {
        color:#2d4b9b;
        text-decoration: underline;
      }
      span{
        display: block;
        padding: 10px 0 10px 21px;
        margin-top: 0;
        color: #707070;
        font-size: 14px;
        line-height: 18px;
        text-decoration: underline;
      }
      >li{
        padding: 0;
        line-height: 24px;
        margin-bottom: 0;
        transition: color .3s ease;
        -webkit-transition: color .3s ease;
        cursor: pointer;

        a:hover, >li span:hover{
          color: #5286bf;
          text-decoration: none;
        }
      }
      li:before{
        content: none;
      }
       ul{
        display: none;
        margin-left: 40px;

         li{
          padding: 0;
          margin: 0;
          cursor: pointer;
          transition: background .3s ease;
          -webkit-transition: background .3s ease;
        }
         li:hover{
      }
         }
  }
  }
}
