.photo{
  margin-bottom: 10px;

  & .site__title{
    margin-bottom: 40px;
  }
  & .reviews__all{
    top: 40px;
    right: auto;
    left: 0;
  }
  &__slider{
    position: relative;
    height: 457px;
    padding: 84px 0 33px 13px;
    margin: 0 -13px 20px;
    background: #f3f3f3;
  }
  &__item {
    position: relative;
    width: 260px;
    height: 160px;
    margin: 0 auto;
    border-radius: 5px;
    background: no-repeat center;

    span {
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: #fff;
    }
  }
  & .swiper-slide .photo__item:first-child{
    margin-bottom: 20px;
  }
  .photo-button-next,
  .photo-button-prev {
    position: absolute;
    left: 50%;
    top: 23px;
    right: auto;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -30px;
    border-radius: 3px;
    background: #e5e5e5 url("../pic/slider-prevt.png") no-repeat center;
    background-size: 13px 24px;
    box-shadow: 0 0 3px #B7B1B1;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
  }
  .photo-button-next{
    right: auto;
    margin: 0 0 0 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  .photo-button-prev:hover,
  .photo-button-next:hover{
    background: #4474b3 url("../pic/slider-next.png") no-repeat center;
    background-size: 13px 24px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  .photo-button-prev:hover{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

@media (min-width: $tablet-portrait) {
  .photo{

    & .site__title{
      margin-bottom: 10px;
    }
    & .reviews__all{
      top: auto;
      right: 0;
      left: auto;
    }
    &__slider {
      height: 222px;
      padding: 31px 0 31px 13px;
      margin: 0 -13px 20px;
      text-align: center;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
    }
    &-button-next, &-button-prev {
      position: absolute;
      top: 50%;
      right: 33px;
      left: auto;
      margin: -20px 0 0 0;
    }
    &-button-prev{
      left: 33px;
      right: auto;
    }
    &__wrap {
      width: 570px;
      margin: 0 auto;
    }
  }
}