  .site {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    min-width: 320px;
    margin: 0 auto;
    font: 14px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    color:#707070;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      clear: both;
      width: 100%;
      height: 57px;
    }
    &__content {
      position: relative;
      z-index: 2;
  }
    &__header {
      position: relative;
      height: 260px;
      z-index: 3;
  }
    &__footer {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 57px;

      &-layout {
        width: 100%;
        height: 57px;
        padding: 10px 10px;
        background: #6684aa url("../img/footer-bg.png") no-repeat center;
        color: #fff;
        font-weight: 400;
      }
     &-copywriter{
        margin-bottom: 2px;
     }
     &-developer{

      }
      &-link{
        color: #fff;
        text-decoration:underline;

        &:hover{
          text-decoration: none;
        }
      }

    }
    &__tabs{
      height: 86px;
      background: #8bccec;

      .plastic,
      .maxillofacial,
      .stomatology{
        display: block;
        vertical-align: top;
        padding: 4px 0;
        font-size: 13px;
        color: #fff;
        text-align: center;
        text-decoration: underline;
        transition: background .3s ease;
        -webkit-transition: background .3s ease;
      }
      & .active{
        background: #009fd9;
        text-decoration: none;
      }
        & .plastic:hover,
        & .maxillofacial:hover,
        & .stomatology:hover{
          background: #009fd9;
      }
    }
    &__header-work-time{
      position: absolute;
      top: 16px;
      right: 39px;
      font-size: 13px;
      color: #707070;
      line-height: 18px;
  }
    &__header-work-time span{
    display: block;
  }
    &__header-tel{
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 50%;
    width: 190px;
    color: #707070;
    font-size: 13px;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
    &__header-tel a{
    color: #707070;
    font-size: 18px;
    line-height: 25px;
    cursor: default;
  }
    &__header-request{
    border-bottom: 1px dotted #5286bf;
    font-size: 16px;
    color:#5286bf;
    line-height: 25px;
    transition: border .3s ease;
    -webkit-transition: border .3s ease;
    cursor: pointer;
  }
    &__header-request:hover{
    border-bottom: 1px dotted transparent;
  }
    &__content-layout{
    margin-top: 100px;
    padding: 0 13px;
  }
    &__title{
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid #f3f3f3;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;

      span{
        display: block;
      }
  }
    &__location{
      padding: 10px 10px;

      &-town, &-mail{
        display: block;
        position: relative;
        padding-left: 20px;
        color: #707070;
        text-decoration: underline;

      &:before{
          position: absolute;
          top: 2px;
          width: 12px;
          height: 16px;
          left: 0;
          background: url("../img/location01.png");
          background-size: contain;
          content: "";
      }
      }
      &-mail{
        margin-top: 5px;

        &:before{
          top: 5px;
          width: 16px;
          height: 10px;
          background: url("../img/location02.png");
          background-size: contain;
        }
      }
    }
}

@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}

@media (min-width: $tablet-landscape) {
  .site {
    &__content {
      width: 992px;
      margin: 0 auto;
      padding: 0 26px;
    }
  }
}
@media (min-width: $desktop) {
  .site {

  }
}

